@model MvcActor.Models.Actor


@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
}

@{
    string ImgPath = "https://image.tmdb.org/t/p/w300" + Model.Profile_pic_path;

}
<a style="position: relative; top: 0; left: 0;"class="btn btn-light"
    asp-action="Index" asp-controller="Actor"> << Back to Actors</a>
<br/>
<div class="container2">
        <div class="movie-card">
            <div class="color-overlay">
            <img class= "movie-content-image img-fluid" src="@ImgPath">
                <div class="movie-content">
                    <div class="movie-header">
                        <h1 class="movie-title text-dark">@Model.FirstName @Model.LastName</h1>
                        <h4 class="movie-info">Birthday: @Model.Birthday.ToString("dd/MM/yyyy")</h4>

                    </div>
                    <p class="movie-desc">@Model.Bio</p>

                </div>
            </div>
        </div>
</div>
