@model List<Watchlist>

<div class="container2">
    <div class="title">
        <h2 class="title">My Watchlist</h2>
    </div>
</div>
<div class="container2">
    <div class="row">
        @foreach (var watchlist in @Model)
        {
            <div class="col mb-4">
                <div class="card" style="width: 15rem;">
                    <hr />
                        @{
                            string ImgPath = "https://image.tmdb.org/t/p/w300" + @watchlist.Movies.Poster_path;

                        }
                        <img src="@ImgPath" />
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-white">@watchlist.Movies.Title</h5>
                        <div>
                            <p class="card-text"><strong>Release Date:</strong> @watchlist.Movies.ReleaseDate.ToString("dd/MM/yyyy")</p>
                            <p class="card-text"><strong>Genre:</strong>@watchlist.Movies.Genre</p>
                            <p class="card-text"><strong>Rating:</strong>@watchlist.Movies.Rating</p>
                        </div> <br>
                        <a class="btn btn-warning" asp-controller="Movies" asp-action="Details" asp-route-id="@watchlist.Movies.Id">More info</a>
                        <a class="btn btn-warning" asp-action="Remove" asp-controller="Watchlist" asp-route-id="@watchlist.Id">Remove</a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>