@model MvcSeries.Models.Series

@{
    ViewData["Title"] = "Details";
}

<h1 class="title">Details</h1>

<div class="container">
    <h4>Series</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seasons)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seasons)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Overview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Overview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poster_path)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poster_path)
        </dd>
    </dl>
    <div>
    <a asp-action="Index">Back to List</a>
    </div>
</div>

