@model dynamic
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1 class="title">Details</h1>

<div class="container">
    <h4>Series</h4>
    <hr />
    @{ 
        string ImgPath = "https://image.tmdb.org/t/p/w300" + Model.Series.Poster_path;

    }
    <img src="@ImgPath" />
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
           @Model.Series.Title
        </dd>
        <dt class="col-sm-2">
            Release Date
        </dt>
        <dd class="col-sm-10">
            @Model.Series.ReleaseDate
        </dd>
        <dt class="col-sm-2">
            Seasons
        </dt>
        <dd class="col-sm-10">
            @Model.Series.Seasons
        </dd>
        <dt class="col-sm-2">
            Genre
        </dt>
        <dd class="col-sm-10">
            @Model.Series.Genre
        </dd>
        <dt class="col-sm-2">
           Rating
        </dt>
        <dd class="col-sm-10">
            @Model.Series.Rating
        </dd>
        <dt class="col-sm-2">
            Overview
        </dt>
        <dd class="col-sm-10">
            @Model.Series.Overview
        </dd>
        <dt>
            @foreach (var actor in Model.Actor)
                {
                    @if (actor != null)
                    {
                        @actor.FirstName @actor.LastName
                    }
                }
        </dt>
        @foreach (var comment in Model.SComments)
        {
            <dd class="col-sm-2">
            Comment creator
            </dd>
            <dt class="col-sm-10">
                @comment.Creator
            </dt>
            <dd class="col-sm-2">
                Comment Date
            </dd>
            <dt class="col-sm-10">
                @comment.PubDate
            </dt>
            <dd class="col-sm-2">
                Comment Text
            </dd>
            <dt class="col-sm-10">
                @comment.Text
            </dt>
        }
        <dd class="col-sm-2">
            @if(SignInManager.IsSignedIn(User)){
                <form asp-action="NewComment" asp-controller="Series" asp-route-id="@Model.Series.Id">
                <label for="text">Your comment: </label>
                <input type="text" name="text">
                </form>
            }
        </dd>
    </dl>
    <div>
    <a asp-action="Index">Back to List</a>
    </div>
</div>

