@model IEnumerable<MvcActor.Models.Actor>

@{
    ViewData["Title"] = "Born This Month";
}

<div class="container-fluid padding">

    <div class="header p-3">
        <h2 class="py-2">@ViewData["Title"]</h2>
        <p class="lead">All these famous actors and actresses have their birthday this month!</p>
    </div>

     <div class="row">
            @foreach (var item in Model)
            {
                <div class="col mb-4">
                    <div class="card" style="width: 15rem;">
                        @{
                            string ImgPath = "https://image.tmdb.org/t/p/w300" + item.Profile_pic_path;
                        }
                        <img src="@ImgPath" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-truncate">@item.FirstName  @item.LastName</h5>
                            <div>
                                <p class="card-text"><strong>Birthday:</strong> @item.Birthday</p>
                                <p class="card-text"><strong>Bio:</strong> @item.Bio.Substring(0,20)...</p>
                            </div> <br>
                            <a class="btn btn-warning" asp-controller="Actor" asp-action="Details" asp-route-id="@item.Id">More info</a>
                        </div>
                    </div>
                </div>
                }
            </div>

</div>