@model dynamic;
@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <p class="lead">
                Welcome to REVIEW, a place where you can find everything about movies, TV and celebrity content. Find ratings and reviews for the newest movie and TV shows.
            </p>
        </div>
        <hr>
        <div id="wtw" class="col-12">
            <h1 class="display-4">What to Watch.</h1>
        </div>
    </div>
</div>
    <div class="container-fluid padding">
    <div class="row">
        @foreach (var item in ((IEnumerable<dynamic>)Model.Movie).Take(6))
        {
            <div class="col mb-4">
                <div class="card" style="width: 15rem;">
                    @{
                        string ImgPath = "https://image.tmdb.org/t/p/w300" + item.Poster_path;
                    }
                    <img src="@ImgPath" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-truncate text-white">@item.Title</h5>
                        <div>
                            <p class="card-text"><strong>Release date:</strong> @item.ReleaseDate.ToString("dd/MM/yyyy")</p>
                            <p class="card-text"><strong>Genre:</strong> @item.Genre</p>
                            <p class="card-text"><strong>Rating:</strong> @item.Rating</p>
                        </div> <br>
                        <a class="btn btn-warning" asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">More info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<br>

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <a asp-controller="Home" asp-action="ReleasedOnThisMonth">
            <p class="lead display-4">
                Released On @DateTime.Now.ToString("MMMM", CultureInfo.InvariantCulture)
            </p>
            <p class="lead">
                Check out all the movies that were released on this month. They have their Birthday!
                <hr />
            </p>
            </a>
            <div class="row">
            @foreach (var item in ((IEnumerable<dynamic>)Model.Movie).Where(m => m.ReleaseDate.Month == DateTime.Now.Month).Take(6))
            {
                <div class="col mb-4">
                    <div class="card" style="width: 15rem;">
                        @{
                            string ImgPath = "https://image.tmdb.org/t/p/w300" + item.Poster_path;
                        }
                        <img src="@ImgPath" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-truncate text-white">@item.Title</h5>
                            <div>
                                <p class="card-text"><strong>Release date:</strong>@item.ReleaseDate.ToString("dd/MM/yyyy")</p>
                                <p class="card-text"><strong>Genre:</strong> @item.Genre</p>
                                <p class="card-text"><strong>Rating:</strong> @item.Rating</p>
                            </div> <br>
                            <a class="btn btn-warning" asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">More info</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <a asp-controller="Home" asp-action="TopMovies">
            <p class="lead display-4">
                Top Movies
            </p>
            <p class="lead">
                Here are the TOP 10 movies according to ratings!
                <hr />
            </p>
            </a>
            <div class="row">
            @foreach (var item in ((IEnumerable<dynamic>)Model.Movie).Where(m => m.Rating >= 8).OrderByDescending(m => m.Rating).Take(6))
            {
                <div class="col mb-4">
                    <div class="card" style="width: 15rem;">
                        @{
                            string ImgPath = "https://image.tmdb.org/t/p/w300" + item.Poster_path;
                        }
                        <img src="@ImgPath" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-truncate text-white">@item.Title</h5>
                            <div>
                                <p class="card-text"><strong>Release date:</strong> @item.ReleaseDate.ToString("dd/MM/yyyy")</p>
                                <p class="card-text"><strong>Genre:</strong> @item.Genre</p>
                                <p class="card-text"><strong>Rating:</strong> @item.Rating</p>
                            </div> <br>
                            <a class="btn btn-warning" asp-controller="Series" asp-action="Details" asp-route-id="@item.Id">More info</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<br>

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <a asp-controller="Home" asp-action="BornThisMonth">
            <p class="lead display-4">
                Born On @DateTime.Now.ToString("MMMM", CultureInfo.InvariantCulture)
            </p>
            <p class="lead">
                All these famous actors and actresses have their birthday this month!
                <hr />
            </p>
            </a>
             <div class="row">
            @foreach (var item in ((IEnumerable<dynamic>)Model.Actor).Where(a => (a.Birthday).Month == DateTime.Now.Month).Take(6))
            {
                <div class="col mb-4">
                    <div class="card" style="width: 15rem;">
                        @{
                            string ImgPath = "https://image.tmdb.org/t/p/w300" + item.Profile_pic_path;
                        }
                        <img src="@ImgPath" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-truncate text-white">@item.FirstName  @item.LastName</h5>
                            <div>
                                <p class="card-text"><strong>Birthday:</strong> @item.Birthday.ToString("dd/MM/yyyy")</p>
                                <p class="card-text"><strong>Bio:</strong> @item.Bio.Substring(0,20)...</p>
                            </div> <br>
                            <a class="btn btn-warning" asp-controller="Actor" asp-action="Details" asp-route-id="@item.Id">More info</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
