@model IEnumerable<MvcMovie.Models.Movies>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid padding">
<div class="row welcome text-center">	
	<div class="col-12">
		<p class="lead">
			Welcome to IMDb, a place where you can find everything about movies, TV and celebrity content. Find ratings and reviews for the newest movie and TV shows.
		</p>
	</div>
	<hr>
	<div id="wtw" class="col-12">
		<h1 class="display-4">What to Watch.</h1>
	</div>
</div>
</div>

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
	<li data-target="#slides" data-slide-to="0" class="active"></li>
	<li data-target="#slides" data-slide-to="1"></li>
	<li data-target="#slides" data-slide-to="2"></li>
</ul>	
<div class="carousel-inner">
	<div class="carousel-item active">
		<img src="~/img/movie1.png">
		<div class="carousel-caption">
			<h1 class="display-2">TOP PICKS</h1>
			<h3>TV shows and movies just for you</h3>
			<a href="#"><button type="button" class="btn btn-outline-light btn-lg">Watch full list</button></a>
		</div>
	</div>
	<div class="carousel-item">
		<img src="~/img/movie2.png">
		<div class="carousel-caption">
			<h1 class="display-2">TOP PICKS</h1>
			<h3>TV shows and movies just for you</h3>
			<a href="#"><button type="button" class="btn btn-outline-light btn-lg">Watch full list</button></a>
		</div>
	</div>
	<div class="carousel-item">
		<img src="~/img/movie3.png">
		<div class="carousel-caption">
			<h1 class="display-2">TOP PICKS</h1>
			<h3>TV shows and movies just for you</h3>
			<a href="#"><button type="button" class="btn btn-outline-light btn-lg">Watch full list</button></a>
		</div>
	</div>
</div>
</div>
<div id="wtw" class="col-12"></div>

<br>
<div class="col-12">
	<h3>Released On This Day<h3>
</div>
<div class="container-fluid padding">

    <div class="row bg-dark px-3 pt-4 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
        @foreach (var item in Model) {
        <div class="col mb-4">
            <div class="card-dsp">
                <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id"><img src="https://m.media-amazon.com/images/M/MV5BYjI3NDg0ZTEtMDEwYS00YWMyLThjYjktMTNlM2NmYjc1OGRiXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <p><img src="~/img/yellow_star.svg" style="vertical-align: sub;"> @Html.DisplayFor(modelItem => item.Rating)</p>
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id"><h6 class="card-title pb-1 text-truncate">@Html.DisplayFor(modelItem => item.Title)</h6></a>
                    <div>
                        <p class="card-text text-truncate text-muted small">@Html.DisplayFor(modelItem => item.Genre)</p>
                    </div> <br>
                    <a class ="btn btn-dark btn-block" asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">Watchlist</a>
                </div>
            </div>
        </div>
        }
    </div>
    
    
</div>

