
@model IEnumerable<MvcMovie.Models.Movies>

@{
    ViewData["Title"] = "Released On This Month";
}

<div class="container-fluid padding">

    <div class="header p-3">
        <h2 class="py-2">@ViewData["Title"]</h2>
    <p class="lead">Need some inspiration? Check out all the movies that were released on this month. They have their birthday!</p>
    </div>

    <div class="row">
            @foreach (var item in Model)
            {
                <div class="col mb-4">
                    <div class="card" style="width: 15rem;">
                        @{
                            string ImgPath = "https://image.tmdb.org/t/p/w300" + item.Poster_path;
                        }
                        <img src="@ImgPath" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-truncate text-white">@item.Title</h5>
                            <div>
                                <p class="card-text"><strong>Release date:</strong>@item.ReleaseDate.ToString("dd/MM/yyyy")</p>
                                <p class="card-text"><strong>Genre:</strong> @item.Genre</p>
                                <p class="card-text"><strong>Rating:</strong> @item.Rating</p>
                            </div> <br>
                            <a class="btn btn-warning" asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">More info</a>
                        </div>
                    </div>
                </div>
                }
            </div>
</div>
