@model dynamic
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1 class="title">Details</h1>

<div class="container">
    <h4>Movie</h4>
    <hr />
    @{
        string ImgPath = "https://image.tmdb.org/t/p/w300" + Model.Movie.Poster_path;

    }
    <img src="@ImgPath" />
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Title
        </dd>
        <dt class="col-sm-2">
            Release Date
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.ReleaseDate
        </dd>
        <dt class="col-sm-2">
            Genre
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Genre
        </dd>
        <dt class="col-sm-2">
            Rating
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Rating
        </dd>
        <dt class="col-sm-2">
            Overview
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Overview
        </dd>
        <dt>
            @foreach (var actor in Model.Actor)
                {
                    @if (actor != null)
                    {
                        @actor.FirstName @actor.LastName
                    }
                }
        </dt>
        @foreach (var comment in Model.MComments)
        {
            <dd class="col-sm-2">
            Comment creator
            </dd>
            <dt class="col-sm-10">
                @comment.Creator
            </dt>
            <dd class="col-sm-2">
                Comment Date
            </dd>
            <dt class="col-sm-10">
                @comment.PubDate
            </dt>
            <dd class="col-sm-2">
                Comment Text
            </dd>
            <dt class="col-sm-10">
                @comment.Text
            </dt>
        }
        <dt class="col-sm-2">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="row">
                    <a class="btn btn-dark"
                       asp-action="NewMovie"
                       asp-controller="Watchlist"
                       asp-route-CurrentMovieId="@Model.Movie.Id">
                        Add to Watchlist
                    </a>
                </div>
                <form asp-action="NewMComment" asp-controller="Movies" asp-route-Movieid="@Model.Movie.Id">
                <label for="text">Your comment: </label>
                <input type="text" name="text">
                </form>
            }
        </dt>
    </dl>
    <div>
        <span>Votes</span>
        <span>@Model.Movie.Votes</span>
        <form asp-action="LikeMovie" asp-controller="Movies" asp-route-Movieid="@Model.Movie.Id">
            <input type="submit" value="Like">
        </form>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>