@model dynamic
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1 class="title">Details</h1>

<div class="container">
    <h4>Movie</h4>
    <hr />
    @{
        string ImgPath = "https://image.tmdb.org/t/p/w300" + Model.Movie.Poster_path;

    }
    <img src="@ImgPath" />
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Title
        </dd>
        <dt class="col-sm-2">
            Release Date
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.ReleaseDate
        </dd>
        <dt class="col-sm-2">
            Genre
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Genre
        </dd>
        <dt class="col-sm-2">
            Rating
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Rating
        </dd>
        <dt class="col-sm-2">
            Cast
        </dt>
        <dd class="col-sm-10">
            @foreach (var actor in Model.Actor)
                {
                    @if (actor != null)
                    {
                        @actor.FirstName @actor.LastName
                    }
                }
        </dd>
        <dt class="col-sm-2">
            Overview
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Overview
        </dd>
        <dt class="col-sm-2">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="row">
                    <a class="btn btn-dark"
                       asp-action="NewMovie"
                       asp-controller="Watchlist"
                       asp-route-CurrentMovieId="@Model.Movie.Id">
                        Add to Watchlist
                    </a>
                </div>
            }
        </dt>
    </dl> 
    <h4>Comments</h4>  
    <hr/> 
    <div class="container1 mt-5">
                    <div class="bg-muted p-2">
                        @foreach (var comment in Model.MComments)
                        {
                        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="~/img/iconQ.jpg" width="40">
                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">@comment.Creator</span><span class="date text-white-50" >Shared publicly - @comment.PubDate</span></div>
                        </div>
                        <div class="mt-2">
                            @comment.Text
                        </div>
                        <br>
                        <br>
                        }
                    </div>
                    <div class="bg-muted p-2">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <form asp-action="NewMComment" asp-controller="Movies" asp-route-Movieid="@Model.Movie.Id">
                            <label for="text"><img class="rounded-circle" src="~/img/iconQ.jpg" width="40"></label>
                            <input type="text" name="text" placeholder="Comment Here">
                            </form>
                            <div>
                                <br>
                                <span>Votes</span>
                                <span>@Model.Movie.Votes</span>
                                <div class="input-container">
                                <form asp-action="LikeMovie" asp-controller="Movies" asp-route-Movieid="@Model.Movie.Id">
                                    <input type="image" src="~/img/like.png" alt="Submit" value="Like" width="40" height="40">
                                </form>
                                <form asp-action="DislikeMovie" asp-controller="Movies" asp-route-Movieid="@Model.Movie.Id">
                                    <input type="image" src="~/img/dislike.png" alt="Submit" value="Dislike" width="40" height="40">
                                </form>
                                </div>
                            </div>
                        }
                    </div>
    </div>
    <br>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>