@model  dynamic
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = Model.Movie.Title;
}

@{
    string ImgPath = "https://image.tmdb.org/t/p/w300" + Model.Movie.Poster_path;
    string TrailerPath = "https://www.youtube.com/embed/" + Model.Movie.Videokey;

}

<div class="container2">
    <div class="movie-card">
        <div class="color-overlay">
            <img class= "movie-content-image img-fluid" src="@ImgPath">
                <div class="movie-content">
                    <div class="movie-header">
                        <h1 class="movie-title text-dark">@Model.Movie.Title</h1>
                        <h4 class="movie-info">Genre: @Model.Movie.Genre</h4>
                        <h4 class="movie-info">Rating: @Model.Movie.Rating</h4>
                        <h4 class="movie-info">Rating: @Model.Movie.ReleaseDate.ToString("dd/MM/yyyy")</h4>

                    </div>
                    <p class="movie-desc">@Model.Movie.Overview</p>
                    <div class="movie-desc">
                        <strong>Cast:</strong>
                        @foreach (var actor in Model.Actor)
                        {
                            @if (actor != null)
                            {
                                    <a asp-controller="Actor" asp-action="Details" asp-route-id="@actor.Id">@actor.FirstName @actor.LastName</a>
                            }
                        }
                    </div>
                    <div class="movie-desc">
                        <strong>Votes</strong>
                        <a>@Model.Movie.Votes</a>
                    </div>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div>
                            <div class="input-container">
                                <form asp-action="LikeMovie" asp-controller="Movies" asp-route-Movieid="@Model.Movie.Id">
                                    <input type="image" src="~/img/like.png" alt="Submit" value="Like" width="40" height="40">
                                </form>
                                <form asp-action="DislikeMovie" asp-controller="Movies" asp-route-Movieid="@Model.Movie.Id">
                                    <input type="image" src="~/img/dislike.png" alt="Submit" value="Dislike" width="40" height="40">
                                </form>
                            </div>
                        </div> <br/>
                        <a class="btn btn-dark" style="margin-bottom: 1rem;"
                            asp-action="NewMovie"
                            asp-controller="Watchlist"
                            asp-route-CurrentMovieId="@Model.Movie.Id">
                            Add to Watchlist
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container2 py-5">
    <h3>Watch the Trailer!</h3>
    <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
            src="@TrailerPath"
            frameborder="0"
            allowfullscreen></iframe>
    </div>
</div>

<div class="container2 py-3">
    <h3>Comment Section</h3>
    <div class="comment-div">
        <div class="comment-main-level">
            @foreach (var comment in Model.MComments)
            {
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">@comment.Creator</h6>
                        <p class="text-muted" style="font-size: small;">@comment.PubDate.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="comment-content">
                        @comment.Text
                    </div>
                </div>
            }
        </div>
    </div><br />
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="comment-box" style="padding: 10px;">
            <form asp-action="NewComment" asp-controller="Movies" asp-route-Movieid="@Model.Movie.Id">
                <label for="text"><img class="rounded-circle" src="~/img/iconQ.jpg" width="40"></label>
                <input type="text" name="text" placeholder="Comment Here">
            </form>
        </div>

    }
</div>
